@import 'styles/mixins';

.container {
  &.drawer {
    width: 100%;
    padding: 21px;
    margin-bottom: 13px;
    border-bottom: 1px solid #e6e6e6;
  }

  .figure {
    margin-bottom: 0;
  }

  .figcaption {
    @include seo-hide();
  }
}
