@import 'styles/breakpoints';

.menu {
  height: 60px;
  padding: 21px 21px 21px 0;
  width: 100%;
}


.logo {
  width: 103px;
  margin-bottom: 0;
  height: auto;
}

.togglerIcon {
  margin-top: 16px;
  margin-right: 7px;
}

@include from720 {
  .menu {
    height: auto;
  }

  .logo {
    width: 138px;
  }
}
