@use 'styles/variables.scss' as *;

.btn {
  width: 100%;
  padding: 21px 55px;
  background-color: $primary;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.9;
  text-align: center;
  color: #fff;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
    
  &:hover {
    background-color: darken($primary, 10);
    color: #fff;
  }

  &:focus {
    outline: 0;
  }
}
