.container {
  .title {
    text-align: center;
    padding: 4px 8px;
  }
  .mainAddress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    .addressInfo {
      display: flex;
      flex-direction: column;
    }
    .addressName {
      font-size: 1.8rem;
      font-weight: 400;
      margin: 0;
    }
    .address {
      font-size: 1.4rem;
      font-weight: bold;
    }
  }
}

.selectAddress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & button {
    width: 80%;
    margin: 1rem;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #d5d5d5;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
      0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

    .name {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.4rem;
    }
    .street {
      font-size: 1.2rem;
      font-weight: bold;
    }
    .district {
      font-size: 1.2rem;
    }
  }
  & button:hover {
    transform: scale(0.99);
    border: 0;
  }
  .novoEnde {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    position: absolute;
    bottom: 5px;
  }
}
.btnChange {
  margin: 1rem;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #d5d5d5;

  &:hover {
    transform: scale(0.99);
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
      0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  }
}

.loginButton {
  padding: 5px;
  font-size: 1.4rem;
}
