@use 'styles/variables' as *;

.btnDot {
  border: 0;
  padding: 0;
  margin: 0 5px;
  cursor: pointer;
  background-color: transparent;

  &:active,
  &:hover,
  &:focus {
    outline: none;
  }

  .dot {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
    
    &:active {
      border: 0;
    }
    
    &.active {
      background-color: $primary;
      border: 0;
    }
  }
}

