@use 'styles/breakpoints' as *;
@use 'styles/variables' as *;

.container {
  position: relative;
  width: 100%;
  padding-top: 220px;
  margin-bottom: 100px;
  overflow: hidden;

  .img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 99%;
    object-fit: cover;
  }

  .bgGradient {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to top, #fff 10%, transparent 100%);
  }

  .afyaVector {
    display: none;
    position: absolute;
    top: -43%;
    left: 0;
    
    + .afyaVector {
      top: 39%;
    }
  }


  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
      width: 80%;
      max-width: 630px;
    }
    
    .release {
      margin-top: 13px;
      font-size: 1.4rem;
      font-weight: 700;
      color: #232323;
      text-transform: uppercase;
    }

    .dateWrapper {
      width: 100%;
      margin-top: 13px;
      display: flex;
      justify-content: center;
      align-items: center;

      .divider {
        height: 1px;
        width: 30%;
        border-radius: 5px;
        background-color: #000;
      }

      .date {
        width: 40%;
        text-align: center;
        font-size: 1.8rem;
        color: $primary;
      }
    }

    .schedule {
      margin-top: 13px;
      font-size: 1.2rem;
      text-align: center;
      color: #232323;
    }

    .btn {
      margin-top: 13px;
      padding: 13px 21px;
      width: 50%;
      max-width: 456px;
      font-size: 1.4rem;
      line-height: 1.2;
      display: flex;
      align-items: center;
      justify-content: center;

      .btnIcon {
        display: none;
      }
    }
  }
}

@include from720 {
  .container {
    .content {
      .logo {
        width: 65%;
      }

      .btn {
        .btnIcon {
          display: block;
        }
      }
    }
  }
}

@include from1024 {
  .container {
    .afyaVector {
      display: block;
    }

    .content {
      width: 60%;
      margin: 0 auto;

      .img {
        height: auto;
        object-fit: initial;
      }

      .release {
        font-size: 2.6rem;
      }

      .dateWrapper {
        .date {
          font-size: 3.2rem;
        }
      }

      .schedule {
        font-size: 1.6rem;
      }

      .btn {
        font-size: 1.6rem;
        padding: 21px 55px;
        width: 73%;
      }
    }
  }
}

@include from1280 {
  .container {
    .btn {
      width: 58%;
    }
  }
}
