.card {
  display: flex;
  flex-direction: column;

  .cardTitle {
    font-weight: 500;
    font-size: 2rem;
    height: 6rem;
    text-align: center;
  }
  .description {
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-align: justify;
  }
}
.cardMedia {
  padding-top: 56.25%; // 16:9
}
.cardContent {
  flex-grow: 1;

}
