@use 'styles/breakpoints' as *;

.container {
  width: 100%;
  flex-direction: column;

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 45px 0;
    border-bottom: 0.5px solid #757575;

    .icon {
      width: 48px;
      height: 30px;
    }

    .text {
      margin: 21px 0 0;
      font-size: 1.4rem;
      font-weight: 600;
      text-align: center;
      color: #fff;
    }

    .email {
      margin: 21px 0 0;
      font-size: 1.4rem;
      font-weight: 600;
      text-decoration: underline;
      text-align: center;
      color: #fff;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;

      &.visible {
        visibility: visible;
        opacity: 1;
      }
    }

    .btn {
      margin-top: 21px;
      font-size: 1.4rem;
      max-width: 194px;
      padding: 21px 47px;
      visibility: visible;
      opacity: 1;
      transition: 0.3s;

      &.hidden {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .footer {
    padding: 50px 21px;

    .socialWrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .social {
        + .social {
          margin-left: 21px;
        }
      }
    }

    .addressWrapper {
      margin-top: 21px;

      .info {
        display: block;
        font-size: 1.2rem;
        line-height: 1.6;
        text-align: center;
        color: #c4c4c4;

        &.address {
          color: #757575;
        }
      }
    }
  }
}

@include from600 {
  .container {
    .contact {
      .icon {
        width: 72px;
        height: 46px;
      }

      .text {
        font-size: 1.6rem;
        line-height: 1.8;
      }
    }
  }
}

@include from1024 {
  .container {
    .footer {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;

      .socialWrapper {
        width: 20%;
      }

      .addressWrapper {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
