@use 'styles/breakpoints' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  .main {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}

@include from600 {
  .container {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
}
