.listItem {
  padding: 1rem;

  .productPrice {
    color: #50a773;
    font-size: 1.6rem;
  }
  .listItemText {
    padding-top: 2rem;
    span {
      font-family: 'Gotham';
      font-weight: 400;
      font-size: 1.4rem;
    }
    p {
      font-weight: 700;
      font-size: 1.4rem;
    }
  }
  .resume {
    span {
      font-weight: 400;
      font-family: 'Gotham';
      font-size: 1.4rem;
    }
  }
  .total {
    color: #50a773;
    font-weight: 700;
    font-family: 'Gotham';
    font-size: 1.6rem;
  }
}
.emptCart {
  display: flex;
  justify-content: center;
  .text {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
  }
}
.alert {
  padding: 2rem;
}
.finishButton {
  text-align: center;
}
