@use 'styles/breakpoints' as *;

.layout {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    .title {
      margin-top: 4rem;
      margin-bottom: 2rem;
      text-align: center;
    }

    .paper {
      margin-top: 3rem;
      margin-bottom: 3rem;
      padding: 2rem;
      margin: 1rem;
    }

    .buttons {
      display: flex;
      justify-content: space-around;

      .button {
        margin-top: 3rem;
        margin-left: 1rem;
      }
    }
  }
  .formControl {
    font-family: 'Gotham';
    .title {
      font-weight: 300;
      text-align: center;
      font-size: 1.6rem;
    }
    span {
      font-size: 1.6rem;
    }
  }
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  svg {
    font-size: 200px;
    height: 200px;
    color: #359217;
  }
}

.paymentMethods {
  .title {
    text-align: center;
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .paymentButton {
      margin: 2rem;
    }
  }
}

.establishmentObservations {
  .title {
    justify-content: center;
  }
  .content {
    display: flex;
  }
}
.finished {
  .finishedTitle {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
  }
  .finishedDetails {
    .messageCode {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.6rem;
      text-align: center;
    }
  }
}

@include from1024 {
  .layout {
    .container {
      .paper {
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding: 2rem;
        width: 50%;
      }
    }
  }
}
