@use 'styles/breakpoints' as *;
.productDetail {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 0;
  border-radius: 1.2rem 1.2rem 0.5rem 0.5rem;
  box-shadow: 0px 4px 5px 0px #505050;
  padding: 1rem 2rem 2rem 2rem;
  align-items: center;
  transition: background-color 200ms 350ms ease-in-out;

  .icon {
    font-size: 24px;
  }

  .procuctDetailHeader {
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    li {
      list-style-type: none;
    }
  }
  .procuctDetailBody {
    display: flex;
    flex-direction: column;
    .image {
      // width: 50%;
      align-self: center;
      text-align: center;
      img {
        height: auto;
        width: 50%;
      }
    }
    .info {
      border-radius: 1.2rem 1.2rem 0.5rem 0.5rem;
      // width: 100%;
      font-size: 2rem;
      padding: 6rem, 4rem;
      margin-bottom: 4rem;
      .title {
        font-weight: 400;
      }
      .alert {
        font-size: 1.5rem;
      }

      .price {
        color: #50a773;
        .priceUnit {
          color: #717171;
          font-size: 1.4rem;
        }
      }
      .itemDescription {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 2rem;
        padding: 1.2rem 1rem;
      }
    }
    .wrapperObs {
      display: flex;
      text-align: center;

      border-radius: 4px;
      margin: 2rem 0;
      .textfield {
        width: 100%;
        input {
          text-align: center;
          font-size: 1.8rem;
          line-height: 2.2rem;
        }
      }
    }
  }
  .productDetailActions {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    button {
      width: 45%;
      font-size: 1.2rem;
      padding: 0.5rem 0.8rem;
    }
  }
}
@include from1024 {
  .productDetail {
    width: 60%;
    .procuctDetailBody {
      display: flex;
      flex-direction: row;
      .image {
        width: 50%;
      }
      .info {
        width: 50%;
      }
    }
    .productDetailActions {
      padding-top: 3rem;
      button {
        width: 35%;
      }
    }
  }
}
