@import 'styles/mixins';
@import 'styles/breakpoints';

.itemContainer {
  position: relative;
  padding-left: 13px;

  .item {
    color: #14142c;
    font-size: 1.4rem;
  }

  .line {
    position: absolute;
    right: 0;
    bottom: -10px;
    background: #d40054;
    height: 4px;
    width: 0;
    border: 0;
    border-radius: 100px;

    transition: 0.3s;
  }
}

@include from1024 {
  .itemContainer {
    margin-bottom: -13px;
    
    .item:hover + .line {
      width: 17px;
    }
  }
}


